<div class="modal-header">
  <button class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">{{'close'|translate}}</span>
  </button>
  <h3 class="modal-title ng-cloak" ng-cloak>{{form.id?'edit_module':'create_module'|translate}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal field-form" method="post" ng-submit="save()">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="title">
        {{'module_title'|translate}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="title" placeholder="{{'please_input'|translate}}{{'module_title'|translate}}" ng-model="form.title" required>
      </div>
      <label class="col-sm-2 control-label" for="name">
        {{'module_name'|translate}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" ng-disabled="form.id" class="form-control" id="name" placeholder="{{'please_input'|translate}}{{'module_name'|translate}}" ng-model="form.name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">
        {{'user_module'|translate}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4 fix-height">
        <input type="radio" ng-disabled="form.id" name="is_user" value="1" ng-model="form.is_user"> {{'yes'|translate}}
        <input type="radio" ng-disabled="form.id" name="is_user" value="0" ng-model="form.is_user"> {{'no'|translate}}
      </div>
    </div>
    <input type="submit" class="form-submit">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" onclick="$('.field-form').find('input[type=submit]').click();" ng-disabled="submiting">{{'save'|translate}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{'close'|translate}}</button>
</div>
