<div class="modal-header">
  <button class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">{{'close'|translate}}</span>
  </button>
  <h3 class="modal-title ng-cloak" ng-cloak>{{data?'edit_data':'create_data'|translate}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal data-form" method="post" ng-submit="save()">
    <div class="form-group" ng-repeat="field in fields">
      <label class="col-sm-2 control-label" for="{{field.name}}">
        {{field.title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="{{field.name}}" placeholder="{{'please_input'|translate}}{{field.title}}" ng-model="form[field.name]" required>
      </div>
      <!--<label class="col-sm-2 control-label" for="title">
        {{'field_title'|translate}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="title" placeholder="{{'please_input'|translate}}{{'field_title'|translate}}" ng-model="form.title" required>
      </div>-->
    </div>
    <input type="submit" class="form-submit">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" onclick="$('.data-form').find('input[type=submit]').click();" ng-disabled="submiting">{{'save'|translate}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{'close'|translate}}</button>
</div>
