<div class="modal-header">
  <button class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">{{'close'|translate}}</span>
  </button>
  <h3 class="modal-title ng-cloak" ng-cloak>{{form.id?'edit_data':'create_data'|translate}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal data-form" method="post" ng-submit="save()">
    <div ng-if="module.is_user" class="form-group">
      <label class="col-sm-2 control-label">
        {{userFields['username'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{'please_input'|translate}}{{userFields['username'].title}}" ng-model="form.username" required>
      </div>
      <label class="col-sm-2 control-label">
        {{userFields['password'].title}}
        <span class="text-danger" ng-if="!form.id">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{form.passwordTip}}" ng-model="form.password" ng-required="!form.id">
      </div>
    </div>
    <div ng-if="module.is_user" class="form-group">
      <label class="col-sm-2 control-label">
        {{userFields['name'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{'please_input'|translate}}{{userFields['name'].title}}" ng-model="form.name" required>
      </div>
      <label class="col-sm-2 control-label">
        {{userFields['email'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{'please_input'|translate}}{{userFields['email'].title}}" ng-model="form.email" required>
      </div>
    </div>
    <div class="form-group" ng-if="module.is_user && roles">
      <label class="col-sm-2 control-label">
        {{userFields['role_ids'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-10">
        <ui-select multiple ng-model="form.role_ids">
          <ui-select-match placeholder="{{'please_select'|translate}}{{userFields['role_ids'].title}}">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="role.id as role in roles">
            <div ng-bind-html="role.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group fields">
      <div class="col-sm-6 field" ng-repeat="field in fields">
        <label class="col-sm-4 control-label" for="{{field.name}}">
          {{field.title}}
          <span class="text-danger" ng-if="field.is_null == 0">*</span>
        </label>
        <div ng-if="field.input == 'input'" class="col-sm-8 input">
          <input ng-required="field.is_null == 0" type="text" class="form-control" id="{{field.name}}" placeholder="{{'please_input'|translate}}{{field.title}}" ng-model="form[field.name]">
        </div>
        <div ng-if="field.input == 'checkbox'" class="col-sm-8 input fix-height">
          <span ng-repeat="item in field.option">
            <input type="checkbox" value="{{item}}" ng-model="form[field.name+'_temp'][item]"> {{item}}
          </span>
        </div>
        <div ng-if="field.input == 'date'" class="col-sm-8 input">
          <p class="input-group" ng-controller="datepickerCtrl">
            <input type="text" class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="form[field.name+'_temp']" is-open="opened"
                   ng-required="field.is_null == 0"
                   datepicker-options="dateOptions"
              />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div ng-if="field.input == 'select' && field.relation_id > 0" class="col-sm-8 input">
          <ui-select ng-model="form[field.name]">
            <ui-select-match allow-clear="true" placeholder="{{'please_input_search'|translate}}{{field.title}}">{{sources[field.name] ? $select.selected:form[field.name+'_model']|toString}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in sources[field.name]" refresh="getSources(field, $select.search)" refresh-delay="500">
              <div ng-bind-html="item|toString|highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-if="field.input == 'multiple_select' && field.relation_id > 0" class="col-sm-8 input">
          <ui-select multiple ng-model="form[field.name]">
            <ui-select-match placeholder="{{'please_select'|translate}}{{userFields['role_ids'].title}}">{{$item|toString}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in sources[field.name]" refresh="getSources(field, $select.search)" refresh-delay="500">
              <div ng-bind-html="item|toString|highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-if="field.input == 'select' && field.relation_id == 0" class="col-sm-8 input">
          <ui-select ng-model="form[field.name]">
            <ui-select-match allow-clear="true" placeholder="{{'please_select'|translate}}{{field.title}}">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item as item in field.option">
              <div ng-bind-html="item|highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <input type="submit" class="form-submit">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" onclick="$('.data-form').find('input[type=submit]').click();" ng-disabled="submiting">{{'save'|translate}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{'close'|translate}}</button>
</div>
