<div class="modal-header">
  <button class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">{{'close'|translate}}</span>
  </button>
  <h3 class="modal-title ng-cloak" ng-cloak>{{form.id?'edit_data':'create_data'|translate}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal data-form" method="post" ng-submit="save()">
    <div ng-if="module.is_user" class="form-group">
      <label class="col-sm-2 control-label">
        {{userFields['username'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{'please_input'|translate}}{{userFields['username'].title}}" ng-model="form.username" required>
      </div>
      <label class="col-sm-2 control-label">
        {{userFields['password'].title}}
        <span class="text-danger" ng-if="!form.id">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{form.passwordTip}}" ng-model="form.password" ng-required="!form.id">
      </div>
    </div>
    <div ng-if="module.is_user" class="form-group">
      <label class="col-sm-2 control-label">
        {{userFields['name'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{'please_input'|translate}}{{userFields['name'].title}}" ng-model="form.name" required>
      </div>
      <label class="col-sm-2 control-label">
        {{userFields['email'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="{{'please_input'|translate}}{{userFields['email'].title}}" ng-model="form.email" required>
      </div>
    </div>
    <div class="form-group" ng-if="module.is_user && roles">
      <label class="col-sm-2 control-label">
        {{userFields['role_ids'].title}}
        <span class="text-danger">*</span>
      </label>
      <div class="col-sm-10">
        <ui-select multiple ng-model="form.role_ids">
          <ui-select-match placeholder="{{'please_select'|translate}}{{userFields['role_ids'].title}}">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="role.id as role in roles">
            <div ng-bind-html="role.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="form-group fields">
      <div class="field" ng-init="is_full = (field.input == 'textarea' || field.input == 'editor')" ng-repeat="field in fields"
            ng-class="{
            'col-sm-12 full': is_full,
            'col-sm-6': !is_full,
            }">
        <label ng-if="!is_full" class="col-sm-4 control-label" for="{{field.name}}">
          {{field.title}}
          <span class="text-danger" ng-if="field.is_null == 0">*</span>
        </label>
        <div ng-if="field.input == 'input'" class="col-sm-8 input">
          <input ng-required="field.is_null == 0" type="text" class="form-control" id="{{field.name}}" placeholder="{{'please_input'|translate}}{{field.title}}" ng-model="form[field.name]">
        </div>
        <div ng-if="field.input == 'checkbox'" class="col-sm-8 input fix-height">
          <span ng-repeat="item in field.option">
            <input type="checkbox" value="{{item}}" ng-model="form[field.name+'_temp'][item]"> {{item}}
          </span>
        </div>
        <div ng-if="field.input == 'date'" class="col-sm-8 input">
          <p class="input-group" ng-controller="datepickerCtrl">
            <input type="text" class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="form[field.name+'_temp']" is-open="opened"
                   ng-required="field.is_null == 0"
                   datepicker-options="dateOptions"
              />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div ng-if="field.input == 'file'" class="col-sm-8 input">
          <p class="input-group">
            <a type="button" target="_blank" ng-if="form[field.name]" class="btn btn-default btn-file" href="{{form[field.model_field]|getFileUrl}}" title="{{form[field.model_field].name}}">
              <img width="32" height="32" ng-src="{{form[field.model_field]|getFileUrl}}" ng-if="form[field.model_field].is_image">
              <i class="glyphicon glyphicon-paperclip" ng-if="!form[field.name+'_model'].is_image"></i>
            </a>
            <button ng-if="form[field.name]" type="button" ng-click="deleteFile(field)" class="btn btn-danger btn-xs btn-bottom">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button ng-if="!files[field.name]" type="button" ng-file-select ng-model="files[field.name]" class="btn btn-primary btn-xs btn-bottom">
              <i class="glyphicon glyphicon-folder-open"></i>
            </button>
            <button ng-if="files[field.name]" type="button" ng-click="upload(field)" ng-disabled="uploading[field.name]" class="btn btn-primary btn-xs btn-bottom">
              <i ng-if="!uploadInfo[field.name].uploading" class="glyphicon glyphicon-cloud-upload"></i>
              <span ng-if="uploadInfo[field.name].uploading">{{uploadInfo[field.name].uploaded}}%</span>
            </button>
          </p>
        </div>
        <div ng-if="field.input == 'multiple_file'" class="col-sm-8 input">
          <p class="input-group">
            <span ng-repeat="file in form[field.model_field]">
              <a type="button" target="_blank" class="btn btn-default btn-file" href="{{file|getFileUrl}}" title="{{file.name}}">
                <img width="32" height="32" ng-src="{{file|getFileUrl}}" ng-if="file.is_image">
                <i class="glyphicon glyphicon-paperclip" ng-if="!file.is_image"></i>
              </a>
              <button type="button" ng-click="deleteFile(field, $index)" class="btn btn-danger btn-xs btn-bottom">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </span>
            <button ng-if="!files[field.name]" type="button" ng-file-select ng-model="files[field.name]" class="btn btn-primary btn-xs btn-bottom">
              <i class="glyphicon glyphicon-folder-open"></i>
            </button>
            <button ng-if="files[field.name]" type="button" ng-click="upload(field)" ng-disabled="uploading[field.name]" class="btn btn-primary btn-xs btn-bottom">
              <i ng-if="!uploadInfo[field.name].uploading" class="glyphicon glyphicon-cloud-upload"></i>
              <span ng-if="uploadInfo[field.name].uploading">{{uploadInfo[field.name].uploaded}}%</span>
            </button>
          </p>
        </div>
        <div ng-if="field.input == 'select' && field.relation_id > 0" class="col-sm-8 input">
          <ui-select ng-model="form[field.name]">
            <ui-select-match allow-clear="true" placeholder="{{'please_input_search'|translate}}{{field.title}}">{{sources[field.name] ? $select.selected:form[field.model_field]|toString}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in sources[field.name]" refresh="getSources(field, $select.search)" refresh-delay="500">
              <div ng-bind-html="item|toString|highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-if="field.input == 'multiple_select' && field.relation_id > 0" class="col-sm-8 input">
          <ui-select multiple ng-model="form[field.name]">
            <ui-select-match placeholder="{{'please_input_search'|translate}}{{field.title}}">{{$item|toString}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in sources[field.name]" refresh="getSources(field, $select.search)" refresh-delay="500">
              <div ng-bind-html="item|toString|highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-if="field.input == 'select' && field.relation_id == 0" class="col-sm-8 input">
          <ui-select ng-model="form[field.name]">
            <ui-select-match allow-clear="true" placeholder="{{'please_select'|translate}}{{field.title}}">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item as item in field.option">
              <div ng-bind-html="item|highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div ng-if="field.input == 'editor'" class="col-sm-12 input editor">
          <wysiwyg textarea-id="{{field.name}}"
                   textarea-class="form-control"
                   textarea-height="{{app.editor.height}}"
                   textarea-name="{{field.name}}"
                   textarea-required="{{field.is_null == 0?'true':'false'}}"
                   ng-model="form[field.name]"
                   enable-bootstrap-title="true"
                   textarea-placeholder="{{'please_input'|translate}}{{field.title}}"
                   textarea-menu="{{app.editor.menu}}">
          </wysiwyg>
        </div>
      </div>
    </div>
    <input type="submit" class="form-submit">
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" onclick="$('.data-form').find('input[type=submit]').click();" ng-disabled="submiting">{{'save'|translate}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{'close'|translate}}</button>
</div>
