<ng-include src="'views/header.html'" ng-controller="headerCtrl"></ng-include>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-class="{active: selectedModule.id == module.id}" ng-repeat="module in modules">
          <a href="javascript:void(0)" ng-click="selectModule(module)">{{module.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main table-view">
      <div class="header">
        <span class="h3">{{'data'|translate}}</span>
        <button class="btn btn-primary pull-right" ng-click="editData({})"><i class="glyphicon glyphicon-plus"></i> {{'create_data'|translate}}</button>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-if="field.is_list" ng-repeat="field in fields">{{field.title}}</th>
              <th width="80">{{'operate'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in datas">
              <td ng-if="field.is_list" ng-repeat="field in fields">
                <span field-in-list></span>
              </td>
              <td>
                <i class="glyphicon glyphicon-edit pointer" ng-click="editData(data, $index)"></i>&nbsp;&nbsp;
                <i class="glyphicon glyphicon-remove pointer" ng-click="deleteData(data, $index)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination class="pull-left" boundary-links="true" total-items="pagination.totalItems" max-size="pagination.maxSize" num-pages="pagination.numPages" ng-model="pagination.currentPage" items-per-page="pagination.perPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="loadDatas()"></pagination>
      </div>
    </div>
    <ng-include ng-controller="dataSearchCtrl" src="'views/data/search.html'"></ng-include>
  </div>
</div>
