.form-horizontal {
  .fix-height {
    padding-top: 7px;
  }

  .btn-file {
    position: relative;
    padding: 0;
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
    img {
      border-radius: 4px;
    }
    .remove {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #fff;
    }
  }

  .btn-bottom {
    vertical-align: bottom;
  }
}

.modal-content form {
  .control-label {
    text-align: left;
    padding-right: 0;
  }
  .form-group > div {
    padding-left: 0;
  }

  .fields {
    margin-bottom: 0;
    .field {
      height: 35px;
      margin-bottom: 15px;
      float: left;
    }
    .input {
      padding-left: 5px;
      padding-right: 0;
    }
  }

  .with-padding {
    padding-left: 15px !important;
  }
}
