.form-horizontal {
  .fix-height {
    padding-top: 7px;
  }

  .btn-file {
    padding: 0;
    width: 34px;
    height: 34px;
    vertical-align: middle;
    img {
      border-radius: 4px;
    }
    .glyphicon {
      margin-top: 7px;
    }
  }

  .btn-bottom {
    vertical-align: bottom;
  }
}

.modal-content form {
  .control-label {
    text-align: left;
    padding-right: 0;
  }
  .form-group > div {
    padding-left: 0;
  }

  .fields {
    margin-bottom: 0;
    .field {
      height: 35px;
      margin-bottom: 15px;
      float: left;
    }
    .input {
      padding-left: 5px;
      padding-right: 0;
    }
  }

  .with-padding {
    padding-left: 15px !important;
  }
}
