.ui-select-match {
  /*button:first-child {
    text-align: left;
  }
  button:last-child {
    margin-left: -4px !important;
  }
  .col-md-10 {
    width: 66.6667%;
  }
  .col-md-1 {
    width: 16.6667%;
  }
  .col-md-11 {
    width: 85.5%;
  }*/
  position: relative;
  .ui-select-toggle {
    text-align: left;
  }
  .ui-select-clear {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
